.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: transparent;
}
.hero__box {
  width: 50%;
}
.hero__imageWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 0 25px;
}
.hero__imageLeft {
  height: 100%;
  width: 35%;
  padding-top: 10%;
}
.hero__imageRight {
  height: 100%;
  width: 35%;
}
.hero__image_display {
  display: block;
  width: 100%;
}
.hero__textWrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.hero__text {
  color: #fff;
  text-align: left;
  font-size: 24px;
}
.hero__textTitle {
  font-weight: 400;
  font-size: 80px;
}
@media screen and (max-width: 1800px) {
  .hero__text {
    padding: 0 8%;
  }
}
@media screen and (max-width: 1300px) {
  .hero__textTitle {
    font-size: 65px;
  }
  .hero__text {
    padding: 0 8%;
  }
}
@media screen and (max-width: 1100px) {
  .hero__textTitle {
    font-size: 50px;
  }
}
@media screen and (max-width: 992px) {
  .hero__textWrapper {
    padding: 25px 0;
  }
  .hero__imageWrapper {
    padding: 25px 0;
  }
  .hero__box {
    width: 100%;
  }
  .hero__text {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .hero__textTitle {
    font-size: 38px;
  }
}
