.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #8e65c0;
}
.hero__box {
  width: 50%;
}
.hero__imageWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: radial-gradient(#fff 1px, transparent 1.2px);
  background-size: 25px 25px;
}
.hero__imageLeft {
  height: 100%;
  width: 35%;
  margin: 5% 2% 5% 13%;
  padding-top: 10%;
}
.hero__imageRight {
  height: 100%;
  width: 35%;
  margin: 5% 13% 5% 2%;
}
.hero__image_display {
  display: block;
  width: 100%;
}
.hero__text {
  padding: 100px 20px 100px 13%;
  color: #fff;
  text-align: left;
  font-size: 24px;
}
.hero__textTitle {
  font-weight: 400;
  font-size: 80px;
}
@media screen and (max-width: 1800px) {
  .hero__text {
    padding: 50px 20px 0 20px;
    padding: 50px 20px 50px 13%;
  }
}
@media screen and (max-width: 1300px) {
  .hero__textTitle {
    font-size: 65px;
  }
  .hero__text {
    padding: 50px 20px 20px 13%;
  }
}
@media screen and (max-width: 1100px) {
  .hero__textTitle {
    font-size: 50px;
  }
  .hero__text {
    padding-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .hero__image_display {
    display: block;
    width: 100%;
  }
  .hero__image {
    background-image: none;
    width: 100%;
  }
  .hero__box {
    width: 100%;
  }
  .hero__text {
    text-align: center;
    padding: 50px 20px 0 20px;
  }
}
@media screen and (max-width: 576px) {
  .hero__textTitle {
    font-size: 38px;
  }
}
